/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url(ec806460121999bcfb12.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(87a454b233bedae23f8d.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Open Sans Bold */
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url(7435e6c2064f36f48626.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(2509c35b0cfc629f81e5.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Open Sans Semibold */
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url(27152396a129082ada86.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(48d01d6cf2ab4e6a9751.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Open Sans Light */
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url(f2ebdee8c2343f558a02.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(df17d4e30091735253a8.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Quicksand */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
       url(3330192c6b74bf80f6e8.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(102b373fdaafa7e5705b.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Quicksand Medium */
@font-face {
  font-family: 'Quicksand Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Quicksand Medium'), local('Quicksand-Medium'),
       url(d110d7ce672bc8377a55.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(35a86b1d908688420670.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Quicksand Bold */
@font-face {
  font-family: 'Quicksand Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'),
       url(01190d61dc48cd5e294d.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(06fc5dd351415f6bc7db.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Cabin Sketch Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin Sketch Bold'), local('Cabin-Sketch-Bold'),
        url(ea65f58000c4d9365965.woff2) format('woff2'),
        url(f131bdc97094f8d0fd22.woff) format('woff');
}

@font-face {
  font-family: 'Gaegu';
  font-style: normal;
  font-weight: 400;
  src: local('Gaegu'), local('Gaegu'),
  url(0113c0c9688c5b24b606.woff2) format('woff2'),
  url(a57faefca790a0008772.woff) format('woff');
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide'),
  url(297ba6ceafa0370ad756.woff2) format('woff2'),
  url(453aa3146bf782a17250.woff) format('woff');
}

@font-face {
  font-family: 'Benton Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: local('BentonSans Regular'), local('BentonSans-Regular'),
    url(72720bbff2ff1b876f97.woff2) format('woff2'),
    url(d0a76b6bd8e565dca12a.woff) format('woff');
}

@font-face {
	font-family: 'Benton Sans Medium';
	src: url(4bd83be23e62b2398a4e.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Benton Sans Bold';
    src: url(5a9019677df0c6074c3a.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*# sourceMappingURL=main-bundle.css.map*/